:root {
  --color1: rgb(96, 124, 138);
  --color2: rgb(255, 217, 0);
  --color3: rgb(0, 0, 0);
  --color3a: rgba(0, 0, 0, 0.8);
  --color4: rgb(104, 88, 1);
  --color5: rgb(68, 68, 68);
  --color6: rgb(92, 80, 80);
  --color7: rgb(255, 255, 255);
}