.header_container{
  height: auto;
  background-color: rgb(2, 2, 77);
  color: rgb(254, 254, 29);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px 30px;

  background-image: url('../Img/wallpaper2.jpg');
  background-repeat: no-repeat;
  background-size:cover;
}

.header_title{
  font-size: 55px;
  font-weight: bold;
}

.SWlogo{
  background-color: #000;
  border-radius: 30px;
  display: block;
  justify-content: end;
  height: 100px;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  justify-content: space-around;
}

button {
  font-family: "Star Jedi", sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  margin: 5px;
  background-color: #000;
  color: rgb(254, 254, 29);
  border: none;
  cursor: pointer;
  border-radius: 12px;
}

button:hover {
  background-color: #1e1e1e;
}

.modal {
  display: none;
  position: fixed;
  top: 20%;
  left: 20%;
  width: 60%;
  height: 60%;
  background-color: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
  z-index: 1;
  color: #FFD700;
  border-radius: 30px;
  position: absolute;
  border-style: dashed;
  border-color: #685801;
}

.close{
  background-color: rgb(68, 68, 68);
  color: #685801;
  height: 50px;
  width: 50px;
  border-radius: 30px;
  font-size: 38px;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  align-self:center;
  position: relative;  
  top: 15px;
  left: 92%;  
}

.modal-closebutton{
  display: flex;
  align-items: end;
}

pre{
  font-size: 55px;
}