.nav_menu{
  background: linear-gradient(var(--color2), var(--color7));
  height: 80px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin: 0;
}

.button-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  justify-content: space-around;
}

.nav_button {
  font-family: "Star Jedi", sans-serif;
  font-size: 16px;
  padding: 10px 20px;
  margin: 5px;
  background-color: #000;
  color: var(--color2);
  border: none;
  cursor: pointer;
  border-radius: 12px;
}

.nav_button:hover {
  background-color: var(--color6);
}